#import("deSolve")
export("Maemod_ODETEMPLATE","Maemod_Array")
export("maemod.ode","maemod.sametimes","maemod.collect","maemod.gensysfunction")
export("%@@%","%=>%","%@%")
#export("Parameter.Names","Compartment.Names","Compartment.Names.Output")
importFrom(stringr,str_match)
#exportPattern("^[[:alpha:]]+")
